/* isohali.css */

@import url(main.css) screen;

form, table {
	margin: 2em;
}

form {
	max-width: 24em;
	border: solid 1px gray;
}

form > * { margin: 0.5em 1.5em; }

form > label {
	display: block;
	max-width: 10em;
	margin: -1px 2px 2px -1px;
	padding: 0.1em 1em;
	font: bold 12pt sans-serif;
	border: solid 1px white;
	border-right: solid 1px gray;
	border-bottom: solid 1px gray;
}

form > input[type="text"] {
	width: 20em;
}

table { border-collapse: collapse; }

table > caption { display: none; }

thead td { font: bold 12pt sans-serif; }

td {
	padding: 0.1em 1em;
	font: 11pt sans-serif;
	border: solid 1px gray;
}

td                         { text-align: center; }
td.laji, td.latin, td.vari { text-align: left; }

td.promoa > a { color: #070; }
td.poista > a { color: #911; }
