/* isohali.css */

@import url(main.css) screen;

p {
	margin: 1em 2em;
}

table {
	margin: 2em;
	border-collapse: collapse;
}

table > caption {
	display: none;
}

thead td {
	font: bold 12pt sans-serif;
	border-bottom: solid 2px gray;
}

td {
	padding: 0.1em 1em;
	font: 11pt sans-serif;
	border: solid 1px gray;
}

td.id, td.alkupera, td.yllapeto, td.myrkyllisyys, td.uhanalaisuus, td.poista {
	text-align: center;
}

td > a {
	color: #911;
}
