/* json.css */

@import url(main.css) screen;

table { border-collapse: collapse; }

/* Katkoviivat riveille */
tr             { border-top: dotted 1px gray; }
tr:first-child { border-top: none; }
tr:hover       { background-color: #eee; }

/* Taulukon tekstityylit */
td       { padding: 0.2em 1.2em; }
td.nro   { font: bold 10pt monospace; }
td.nimi  { font: bold 11pt sans-serif; }
td.laji  { font: 10pt sans-serif; }
td.latin { font-style: italic; }

td > abbr {
	font: 13pt sans-serif;
	border: none;
}

td > a {
	color: black;
	text-decoration: none;
}
td > a:hover {
	text-decoration: underline;
}

/* Lisätietolaatikko */
tr.popup {
	background-color: #eee;
	border-top: solid 1px #eee;
	border-bottom: solid 1px black;
}
tr.popup > td {
	padding: 0.4em 1em 1em 1em;
}

td > p {
	margin: 0.4em;
	font: 10pt sans-serif;
}

/* Lainahallintanappi */
td > input {
	float: right;
	margin: 1em;
	padding: 0.2em 1.2em;
	font-weight: bold;
	border: solid 1px black;
}
td > input[disabled="disabled"] {
	color: silver;
	border: solid 1px silver;
}
