/* karmia.css */

h1 {
	margin: 1em;
}

#errorreseptor {
	display: none;
}

#errorreseptor > * {
	padding: 0.4em;
	width: 20em;
	color: #b00;
	border: dashed 2px #a00;
}

form > label {
	display: block;
	float: left;
	width: 8em;
	margin: 0.4em;
	text-align: right;
}

form > input {
	margin: 0.4em;
	padding: 0.2em 0.4em;
	border: solid 1px gray;
}

form > br {
	clear: left;
}
