/* karmia.css */

h1 {
	margin: 1em;
}

table {
	border-collapse: collapse;
}

tr {
	border-top: dotted 1px gray;
}
tr:first-child {
	border-top: none;
}
tr:hover {
	background-color: #eee;
}

td {
	padding: 0.2em 1em;
}
td.tunnus {
	font: bold 10pt monospace;
}
td.tunnus:after {
	content: ".";
}
td.laina {
	font: 12pt sans-serif;
}
td.nimi {
	font: bold 12pt sans-serif;
}
td.nimi > a {
	color: black;
	text-decoration: none;
}
td.nimi > a:hover {
	color: black;
	text-decoration: underline;
}
td.laji {
	font: 10pt sans-serif;
}
td.alkup {
	font: 11pt sans-serif;
}
td.vari {
	font: 10pt sans-serif;
}
