/* lomake.css */

@import url(main.css) screen;

/* Kirjautumis- ja käyttäjälomakkeen tyylit */
form { margin: 1em; }

form > label {
	display: block;
	float: left;
	width: 8em;
	margin: 0.4em;
	text-align: right;
}

form > input {
	margin: 0.4em;
	padding: 0.2em 0.4em;
	border: solid 1px gray;
}

form > a       { font: 10pt sans-serif; }
form > a:hover { text-decoration: underline; }

form > br { clear: left; }

/* Virhetilanteiden hailaitit */
#virheloki { display: none; }

#virheloki > * {
	margin: 1em 2em;
	padding: 0.4em;
	width: 24em;
	color: #e33;
	border: dotted 1px #c00;
}

#virheilmo {
	display: none;
	color: #c00;
	font: bold 12pt serif;
	font-variant: small-caps;
}
#virheilmo > strong {
	font-size: 16pt;
}
