/* virhe.css */

#virheloki {
	display: none;
}

#virheloki > * {
	margin: 1em 2em;
	padding: 0.4em;
	width: 24em;
	color: #e33;
	border: dotted 1px #c00;
}

#virhemerkki {
	display: none;
	color: #c00;
	font-size: 22px;
}
